
body {
  color: white;
  background-image: url(img/Goku.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
  tr td{padding: 5px;}
  img{width: 100px;height: 130px;cursor:pointer;}
  header{text-align: center; background-color: #A49E97;}
  .borde{border: 1px #000 solid; }
  .borde-tabla{border-radius: 20px; padding: 20px;}
  .pad{padding: 10px;}
  .centrar{text-align: center;}
  .centrar-obj{margin: auto;}
  .separar-arriva{margin-top: 10px;}
  .grana{background-color: #8A0829;}
  .fieltro{
    background-image: url(img/fieltro-verde.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
  #error{color:red;text-align: center;}
